*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.ecran{
    width: 100%;
    height: 100vh;
    background-image: url(média/pc.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carte{
    width: 90%;
    max-width: 440px;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(249, 246, 246, 0.99);
    background: black;
    border-radius: 16px;
    backdrop-filter: blur(5px);
}
.carte img{
    width: 150px;
    border-radius: 50%;
}
.carte h2{
    font-size: 40px;
    font-weight: 600px;
    margin-top: 20px;
}
.carte h2:hover{
    transform: scale(1.2);
    color: blueviolet;

}
.carte p{
    font-size: 20px;
    margin: 10px auto;
    max-width: 330px;
    color: gray;
}
.carte p:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.carte .reseau i{
    font-size: 40px;
    color: #fff;
    width: 50px;

margin: 10px 5px;
}
.carte .reseau i:hover{

    color:blueviolet;
    transform: scale(1.2);
}
.button{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    background: #fff;
    color: rgb(206, 9, 147);
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;

}
.button:hover{
    background-color: blueviolet;
    color: #fff;

}